.steps__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
}

.step__box {
  box-sizing: border-box;
  border: 2px solid #6248ff;
  width: 400px;
  align-items: center;
  padding: 32px;
  border-radius: 30px;
}

.step__count {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #6248ff;
  margin-bottom: 5px;
}

.step__text {
  margin-top: 25px;
}

.step__header {
  margin-top: 0;
}

#line__right__1 {
  transform: translate(-265px, 50px);
}

#line__left {
  transform: scale(-1, 1) translate(-195px, 70px);
}

#line__right__2 {
  transform: translate(-265px, 70px);
}